<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title slot="start">DISPOSITIVO {{deviceId}} - IRRIGACIONES</ion-title>
      <ion-buttons slot="end">
        <ion-back-button defaultHref="/devices/{{deviceId}}"> </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-content>
      <ion-grid>
        <ion-row class="header-row">
          <ion-col class="header-col centered-cell">Nombre</ion-col>
          <ion-col class="header-col centered-cell">Ubicación</ion-col>
          <ion-col class="header-col centered-cell">Estado</ion-col>
          <ion-col class="header-col centered-cell">Fecha</ion-col>
  
        </ion-row>
        <div *ngIf="irrigations">
          <ion-row *ngFor="let irrigation of irrigations">
            <ion-col class="centered-cell">{{ irrigation.nombre }}</ion-col>
            <ion-col class="centered-cell">{{ irrigation.ubicacion }}</ion-col>
            <ion-col class="centered-cell">
              <div [innerHTML]="irrigation.apertura | chipValve"></div>
            </ion-col>
            <ion-col class="centered-cell">{{ irrigation.fecha | formatDate }}</ion-col>
          </ion-row>
        </div>
      </ion-grid>
      
    </ion-content>
  </ion-content>
  