.header-row {
    background-color: #f2f2f2; 
  }
  
  .header-col {
    color: #333; 
  }
  
  .centered-cell {
    text-align: center; 
  }
  
  ion-row {
    border-bottom: 1px solid #ccc;
  }
  
  ion-col {
    padding: 8px; 
  }
  